---
language: python
python: "2.7"
# services: vagrant

env:
  global:
    - PATH="/usr/bin:$PATH"

# Use the new container infrastructure
sudo: required

before_install:
# Ansible doesn't play well with virtualenv
  - deactivate
  - sudo apt-get update -qq

addons:
  apt:
    packages:
      - python-pip

install:
  - sudo apt-get install -y sshpass software-properties-common python-software-properties
  - sudo apt-add-repository -y ppa:ansible/ansible
  - sudo apt-get update -qq
  - sudo apt-get install -y ansible
  - sudo apt-get install libsdl1.2debian
  - sudo apt-get install vagrant
  - sudo wget http://download.virtualbox.org/virtualbox/4.1.44/virtualbox-4.1_4.1.44-104071~Ubuntu~precise_amd64.deb
  - sudo dpkg -i virtualbox-4.1_4.1.44-104071~Ubuntu~precise_amd64.deb
  - sudo pip install urllib3
  - sudo pip install --upgrade urllib3
  - sudo pip install --upgrade six
  - sudo pip install molecule

script:
  - ansible --version
  - sudo ansible all -i "127.0.0.1," -m lineinfile -a "regexp=^#host_key_checking dest=/etc/ansible/ansible.cfg line='host_key_checking = False'" -c local
  # Basic role syntax check
  - ansible-playbook tests/main.yml -i tests/inventory --syntax-check
  - vagrant init
  - molecule init
  - molecule test

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/