---
language: python
python: "2.7"
dist: trusty

env:
  global:
    - PATH="/usr/bin:$PATH"

# Use the new container infrastructure
sudo: required

before_install:
# Ansible doesn't play well with virtualenv
  - deactivate
  - sudo apt-get update -qq

install:
  - sudo apt-get install python-pip -y
  - sudo pip install ansible==2.1.0.0

script:
  - ansible --version
  - ansible-playbook tests/main.yml -i tests/inventory --syntax-check
  - sudo ansible-playbook -i tests/inventory tests/main.yml --connection=local
  - "ansible-playbook -i tests/inventory tests/main.yml --connection=local
  | grep -q 'changed=0.*failed=0'
  && (echo 'Idempotence test: pass' && exit 0)
  || (echo 'Idempotence test: fail' && exit 1)""

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/