---
language: python
python: "2.7"
services: docker

env:
  global:
    - PATH="/usr/bin:$PATH"

# Use the new container infrastructure
sudo: required

before_install:
# Ansible doesn't play well with virtualenv
  - deactivate
  - sudo apt-get update -qq
  - sudo apt-get install -y -o Dpkg::Options::="--force-confnew" docker-engine

# Install ansible
addons:
  apt:
    packages:
      - python-pip

install:
  # Install ansible
  - sudo pip install docker-py
  - sudo apt-get install -y sshpass software-properties-common python-software-properties
  - sudo apt-add-repository -y ppa:ansible/ansible
  - sudo apt-get update -qq
  - sudo apt-get install -y ansible
  - sudo rm /usr/bin/python && sudo ln -s /usr/bin/python2.7 /usr/bin/python

  # Create ansible.cfg with correct roles_path
  # - printf '[defaults]\nroles_path=../' >ansible.cfg
  - ansible-galaxy install -r tests/requirements.yml -p tests/roles/

script:
  - ansible --version
  - sudo ansible all -i "127.0.0.1," -m lineinfile -a "regexp=^#host_key_checking dest=/etc/ansible/ansible.cfg line='host_key_checking = False'" -c local
  # Basic role syntax check
  - ansible-playbook tests/main.yml -i tests/inventory --syntax-check
  # First run
  - sudo ansible-playbook -i tests/inventory tests/main.yml --connection=local
  # Idempotence test
  - "sudo ansible-playbook -i tests/inventory tests/main.yml --connection=local --skip-tags=docker
  | grep -q 'changed=0.*failed=0'
  && (echo 'Idempotence test: pass' && exit 0)
  || (echo 'Idempotence test: fail' && exit 1)"
  # Next test should check to see if ssh works

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/