---
# tasks file for ansible-ssh

- name: gather os specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_major_version}}.yml"
    - "{{ ansible_distribution }}.yml"
    - "defaults.yml"
  tags: vars

- name: Print OS info
  shell: cat /etc/lsb-release
  register: Ubuntu_check
  ignore_errors: True

- name: Print OS info
  shell: cat /etc/redhat-release
  register: Centos_check
  ignore_errors: True

- debug: var=Ubuntu_check
- debug: var=Centos_check

- name: Print host info
  debug: var="{{ item }}"
  with_items: groups['docker_containers']

- name: install ssh server
  package: name={{ item }} state=present
  with_items: '{{ PACKAGES.to_install }}'
  tags: install
